<div class="wrapper">
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li><a href="/browse">Home</a></li>
            </ul>
            
            <ul class="list-unstyled components">
                <p>Sort Tender By..</p>
                <li class="active">
                    <a href="">Classification 1</a>
                </li>
                <li>
                    <a href="">Classification 2</a>
                </li>
                <li>
                    <a href="">Classification 3</a>
                </li>
                <li>
                    <a href="">Classification 4</a>
                </li>
            </ul>
            
            <ul class="list-unstyled components">
                <p>Others</p>
                <li class="active">
                    <a href="">Something here...</a>
                </li>
            </ul>
            
            <div class="fixed-bottom">
                <a href="/add"><i class="fas fa-plus-circle"></i> Add Tender</a>
            </div>
        </nav>
    
        <div id="content">