<%-
include ('partials/header')
 %>

    <div class='container'>
        <h1>Create New Tender</h1>

        <form>
			<div class="form-group">
				<label for="scope">Scope of Supply / Procurement: </label>
				<textarea type="text" rows=5 class="form-control" name="scope" id="scope"></textarea>
			</div>

			<hr>

			<p>Bid due Date and Time:</p>
			<div class="form-group">
				<label for="bidDueDate">Date: </label>
				<input type="date" class="form-control" name="bidDueDate" id="bidDueDate">
			</div>

			<hr>

			<p>Contact Details:</p>

			<div class="form-group">
				<label for="contactName">Name: </label>
				<input type="text" class="form-control" name="contactName" id="contactName">
			</div>
			<div class="form-group">
				<label for="contactNumber">Phone Number: </label>
				<input type="number" class="form-control" name="contactNumber" id="contactNumber">
			</div>
			<div class="form-group">
				<label for="contactEmail">Email: </label>
				<input type="email" class="form-control" name="contactEmail" id="contactEmail">
			</div>
            <button type="submit" class="btn btn-primary">Add Tender</button>
        </form>
    </div>

<%- include ('partials/footer') %>
