body {
    margin-top: 75px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 250px;
    margin-top: -75px;
    min-height: 100vh;
    padding-top: 75px;
    background-color: #202020;
    color: #fff;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul p {
    color: #777777;
    font-size: 1.1em;
    padding-left: 10px;
}

#sidebar ul li a {
    padding: 5px 10px;
    font-size: 1em;
    display: block;
}

#sidebar .fixed-bottom {
    padding: 10px;
    background-color: #090909;
    width: 200px;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
}

.loginForm {
    width: 40%;
    background-color: #202020;
    margin: auto;
    padding: 2%;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

.loginForm .btn {
    background-color: #1e5b0e;
    color: white;
    width: 100%;
    border: 1px solid white;
    border-radius: 25px; 
}

.loginForm hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

hr.or {
  border: none;
  height: 1px;
  background-image: linear-gradient(to right,  rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

hr.or::after {
    content: 'OR';
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    background-color: #202020;
}

.loginForm input {
    background-color: #464646;
    border-color: white;
    color: white;
    border-radius: 20px;
}

.loginForm h4 {
    text-align: center;
}

.google-btn {
    box-sizing: border-box;
    position: relative;
     /*width: 13em;  - apply for fixed size */
    margin: auto;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.google-btn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}

.google-btn:focus {
  outline: none;
}

.google-btn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.google-btn-login {
  font-family: "Roboto", Roboto, arial, sans-serif;
  background: #DD4B39;
}

.google-btn-login:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.google-btn-login:hover, .google-btn-login:focus {
  background: #E74B37;
}